<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
  <!-- all websites HTML here -->
  <div class="container" *ngIf="showDashboard">
    <h3>Dashboard</h3>
    <button type="button" class="btn btn-primary" style="padding:100px" (click)="toProject()">Project 1</button>
    <button type="button" class="btn btn-info" style="padding:100px" (click)="toProject()">Project 2</button>
    <button type="button" class="btn btn-success" style="padding:100px" (click)="toProject()">Project 3</button>
  </div>

  <div class="container" *ngIf="showProject">
    <h3>Project</h3>
    <div class="row">
      <div class="column">
        <div class="resp-container">
          <iframe class="resp-iframe" src="https://app.powerbi.com/view?r=eyJrIjoiNzE4Yzg3MTctM2VkZC00Y2Y3LTg0NGMtNDg4ODRkYjQxMGY2IiwidCI6ImZlYzgxZjEyLTYyODYtNDU1MC04OTExLWY0NDZmY2RhZmExZiIsImMiOjh9" frameborder="0" allowFullScreen="true"></iframe>
        </div>
      </div>

      <div class="column">
        <textarea class="form-control" style="max-width:80%; margin-bottom:7px" rows="10" placeholder="Write something here..."></textarea>
        <button class="btn btn-success" (click)="submit()">Submit</button>
      </div>
    </div>

    <div class="row">
      <div class="column">
        <div class="resp-container">
          <iframe class="resp-iframe" src="https://app.powerbi.com/view?r=eyJrIjoiNzE4Yzg3MTctM2VkZC00Y2Y3LTg0NGMtNDg4ODRkYjQxMGY2IiwidCI6ImZlYzgxZjEyLTYyODYtNDU1MC04OTExLWY0NDZmY2RhZmExZiIsImMiOjh9" frameborder="0" allowFullScreen="true"></iframe>
        </div>
      </div>

      <div class="column">
        <textarea class="form-control" style="max-width:80%; margin-bottom:7px" rows="10" placeholder="Write something here..."></textarea>
        <button class="btn btn-success" (click)="submit()">Submit</button>
      </div>
    </div>

    <div class="row">
      <div class="column">
        <div class="resp-container">
          <iframe class="resp-iframe" src="https://app.powerbi.com/view?r=eyJrIjoiNzE4Yzg3MTctM2VkZC00Y2Y3LTg0NGMtNDg4ODRkYjQxMGY2IiwidCI6ImZlYzgxZjEyLTYyODYtNDU1MC04OTExLWY0NDZmY2RhZmExZiIsImMiOjh9" frameborder="0" allowFullScreen="true"></iframe>
        </div>
      </div>

      <div class="column">
        <textarea class="form-control" style="max-width:80%; margin-bottom:7px" rows="10" placeholder="Write something here..."></textarea>
        <button class="btn btn-success" (click)="submit()">Submit</button>
      </div>
    </div>

    <button class="btn btn-info" (click)="backToDashboard()">Back to Dashboard</button>
  </div>
</body>
</html>
