<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
  <!-- all websites HTML here -->
  <div class="container" *ngIf="showDashboard">
    <h3>Project</h3>
    <select class="form-control dropdown" style="text-align-last:center; width:auto">
      <option disabled selected value="">--- Select ---</option>
      <option value="X-12556 Fraud Monitoring">X-12556 Fraud Monitoring</option>
      <option value="X-99332 Bachelor Thesis">X-99332 Bachelor Thesis</option>
      <option value="X-32323 Reporting Dashboard">X-32323 Reporting Dashboard</option>
    </select>
    <button class="btn" style="margin-top:10px" (click)="toProject()">Get</button>

    <h3>Reports</h3>
    <select class="form-control dropdown" style="text-align-last:center; min-width:100px; width:auto">
      <option disabled selected value="">--- Select ---</option>
      <option value="January 2019">January 2019 (ongoing)</option>
      <option value="December 2018">December 2018</option>
      <option value="November 2018">November 2018</option>
    </select>
    <button class="btn" style="margin-top:10px" (click)="toProject()">Get</button>
    <button class="btn" style="margin-top:10px">Create</button>
  </div>

  <div class="container" *ngIf="showProject">
    <h3>Project</h3>

    <button class="btn" style="background-color:#00BEF0" (click)="backToDashboard()">Back to Frontpage</button>

    <div class="row">
      <div class="column">
        <div class="resp-container">
          <iframe class="resp-iframe" src="https://app.powerbi.com/view?r=eyJrIjoiNzE4Yzg3MTctM2VkZC00Y2Y3LTg0NGMtNDg4ODRkYjQxMGY2IiwidCI6ImZlYzgxZjEyLTYyODYtNDU1MC04OTExLWY0NDZmY2RhZmExZiIsImMiOjh9" frameborder="0" allowFullScreen="true"></iframe>
        </div>
      </div>

      <div class="column">
        <textarea class="form-control" style="max-width:80%; margin-bottom:7px" rows="10" placeholder="Write something here..."></textarea>
        <button class="btn" style="background-color:#ED8B00" (click)="submit()">Submit</button>
      </div>
    </div>

    <div class="row">
      <div class="column">
        <div class="resp-container">
          <iframe class="resp-iframe" src="https://app.powerbi.com/view?r=eyJrIjoiNzE4Yzg3MTctM2VkZC00Y2Y3LTg0NGMtNDg4ODRkYjQxMGY2IiwidCI6ImZlYzgxZjEyLTYyODYtNDU1MC04OTExLWY0NDZmY2RhZmExZiIsImMiOjh9" frameborder="0" allowFullScreen="true"></iframe>
        </div>
      </div>

      <div class="column">
        <textarea class="form-control" style="max-width:80%; margin-bottom:7px" rows="10" placeholder="Write something here..."></textarea>
        <button class="btn" style="background-color:#ED8B00" (click)="submit()">Submit</button>
      </div>
    </div>

    <div class="row">
      <div class="column">
        <div class="resp-container">
          <iframe class="resp-iframe" src="https://app.powerbi.com/view?r=eyJrIjoiNzE4Yzg3MTctM2VkZC00Y2Y3LTg0NGMtNDg4ODRkYjQxMGY2IiwidCI6ImZlYzgxZjEyLTYyODYtNDU1MC04OTExLWY0NDZmY2RhZmExZiIsImMiOjh9" frameborder="0" allowFullScreen="true"></iframe>
        </div>
      </div>

      <div class="column">
        <textarea class="form-control" style="max-width:80%; margin-bottom:7px" rows="10" placeholder="Write something here..."></textarea>
        <button class="btn" style="background-color:#ED8B00" (click)="submit()">Submit</button>
      </div>
    </div>
  </div>
</body>
</html>
