<nav class="navbar navbar-default" style="background-color:#FFF; padding:20px">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" [routerLink]='["/"]'>
        <img src="https://www.nets.eu/Style%20Library/CountrySites/Images/logo.svg" />
      </a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li [routerLinkActive]='["link-active"]' [routerLinkActiveOptions]='{ exact: true }'>
          <a [routerLink]='["/"]' (click)='collapse()'><span class='glyphicon glyphicon-home'></span> Home</a>
        </li>
        <li [routerLinkActive]='["link-active"]'>
          <a [routerLink]='["/charts"]' (click)='collapse()'>
            <span class='glyphicon glyphicon-signal'></span> Charts.js
          </a>
        </li>
        <li [routerLinkActive]='["link-active"]'>
          <a [routerLink]='["/power"]' (click)='collapse()'>
            <span class='glyphicon glyphicon-align-left'></span> Power BI
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
